<!DOCTYPE html>
<html lang="{{request.locale_name}}">
 	<head>
  		<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  		<title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <link href="../static/icon.png" rel="shortcut icon" type="image/jpeg">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 	</head>
 	<body >
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
		<header class="headroom hide-header-cta">
            <div class="navbar-fixed">
                <nav>
                    <div class="nav-wrapper green ">
                        <div class="container">
                            <ul id="dropdown1" class="dropdown-content">
                              <li><a href="/all_tournaments">Все</a></li>
                              <li class="divider"></li>
                              <li><a href="/my_tournaments">Мои</a></li>
                            </ul>
                            <div class="left"><h5>SportLead</h5></div>
                            <ul class="right">
                                {% block header %}{% endblock %}
                                <li ><a class="waves-effect waves-light hide-on-med-and-up dropdown-button" data-activates="dropdown1"><i class="material-icons ">menu</i></a></li>
                                <li ><a class="waves-effect waves-light" href="/logout"><i class="material-icons ">exit_to_app</i></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>

            </div>
		</header>

		<div class="container">
            {% block content %}{% endblock %}
		</div>

        <script src="../static/scripts/header.js"></script>
 	</body>
</html>

