<!DOCTYPE html>
<html lang="{{request.locale_name}}">
 	<head>
  		<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  		<title>SportLead</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <link href="../static/icon.png" rel="shortcut icon" type="image/jpeg">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 	</head>
 	<body>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
		<header class="headroom hide-header-cta">
            <div class="navbar-fixed">
                <nav>
                    <div class="nav-wrapper green ">
                        <div class="container">
                            <ul id="dropdown1" class="dropdown-content">
                              <li><a href="/all_tournaments">Все</a></li>
                            </ul>
                            <div class="left"><h5>SportLead</h5></div>
                            <ul class="right">
                                <li><a class="waves-effect waves-light hide-on-small-only " href="/all_tournaments">Все мероприятия</a></li>
                                <li><a class="waves-effect waves-light hide-on-med-and-up dropdown-button" data-activates="dropdown1"><i class="material-icons ">menu</i></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>

            </div>
		</header>
        <div class="container">
            <div class="row">
                <form method="post" class="col s12 card-panel ">
                    <div class="row">
                        <div class="input-field offset-l3 col l6 offset-m3 m6 s12">
                            <input id="login" name="login" type="text" class="validate" />
                            <label for="login">Логин</label>
                        </div>

                        <div class="input-field offset-l3 col l6 offset-m3 m6 s12">
                            <input id="password" name="password" type="password" class="validate" />
                            <label for="password">Пароль</label>
                        </div>

                        <p class="col l12 m12 s12 center">{{ message }}</p>

                        <div class="input-field col offset-l3 l3 offset-m3 m3 offset-s3 offset-s3 s4 center">
                            <button name="submitted" type="submit" class="btn waves-effect waves-light green">Вход</button>
                        </div>

                        <div class="input-field col l3  m3 offset-s3 s4 center">
                            <button name="reg" type="submit" class="btn waves-effect waves-light green">Регистрация</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

 	</body>
</html>